<head>
    <meta charset="utf-8" />
    <title>
      Curated.cx - Socially Curated News Feeds
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Technical Co-founder as a Service" />
    <meta property="og:url" content="https://technical.cx" />
    <meta property="og:image" content="apple-touch-icon.png" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <meta name="theme-color" content="#11191f" />

    <script type="module" src="/src/main.ts"></script>
  </head>